-unless @product.has_auction? == false
    -if @product.auction.ended?
        = render "auctions/status"
        
    -else
        =form_for [@product, @product.auction, Bid.new] do |f|
            %p.message
                %strong
                    -if @product.auction.top_bid.present?
                        -if @product.auction.top_bid.user_id == current_user.id
                            Current bid:
                        -else
                            You were outbid:
                            -# ovime se top_bid metod relatuje na auction a ne na product sto i ima smisla
                    -else
                        Current bid:
                        
                    =@product.auction.current_bid
            %p
                Ends at: #{l(@product.auction.ends_at, format: :short)}
            
            %p
                =f.text_field :value 
                -# ovaj value se odnosi na bid, ne na auction
                =f.button class: "btn btn-primary"
-# znaci ovo se ucitava na kraju stranice

:javascript    
    $(function(){
        var user_id = "#{current_user.id}";
        var auction_id = "#{@product.auction.id}";
        var form = $("#new_bid");
        
        var auctionSocket = new AuctionSocket(
                user_id,
                auction_id,
                form
            );
        }
    );